.todo-card {
    padding: 24px;
    width: 300px;
    text-align: center;
    color: white;
    background-color: #3c3e44;
    border: 1px solid #333;
    border-radius: 12px;
}
.todo-card__description {
    margin-bottom: 12px;
}

.todo-card__id {
    width: 100%;
}

.todo-card__status {
    font-style: italic;
}